* { /*General Styles*/
    margin: 0;
    padding: 0;
    font-family: "Verdana", sans-serif;
    box-sizing: border-box;
  }
  
  #page { 
    height:110%; /*Accomodates footer*/
    background-color: #282828; 
  } /*Done to ensure background color covers entire page*/

  #page-formatting { /*Affects all body content*/
    background-color: #282828;
  }
  
  .VTEE {/*Logo text*/
    font-size: xx-large;
    text-align:center;
    font-weight: 900;  
    color: #FF7518;
    margin-top:10px;
    margin-bottom: 10px;
    }
  
  .marginals a, .marginals button {/*Affects all links in header*/
    border-style: hidden;
    text-decoration: none;
    color: #fff;
    font-size: large;
    font-weight: 500;
    padding-left: 15px;
    background-color: black;
  }
  
  .page .subheading {/*Subheading should be colored green too */
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    color:#FF7518;
  }
  
  .marginals ul li {/*Removing bullet points and keeping list at center of header */
    list-style: none;
    background-color: #000;
    border: 1px solid;
    border-color: #fff;
    padding-left:0px !important;
  }
  
  .here { /*Indicate current page*/
    color:#FF7518 !important;
  }
  
  .login { /*Logged in user*/
    margin-bottom: 25px;
  }
  
  .login img { /*Login icon*/
    max-width: 100%;
  }
  
  .marginals-foot { /*Header and Footer*/
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .page { /*Affects all content between header and footer*/
    width: 100%; 
    padding-top:2.5rem; /*Ensuring header does not overlap with body text*/
    padding-bottom: 4.5rem; /*Ensuring footer does not overlap with body text*/
    color: white;
    display : grid;
  }

  .viz {
    margin-left:auto;
    margin-right:auto;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .viz h4 {
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
  }

  .specific-node {
    fill: #0275d8;
    stroke: #f7f7f7;
    stroke-width: 1;
  }

  .aave-node {
    fill: #f0ad4e;
    stroke: #f7f7f7;
    stroke-width: 1;
  }
  
  .normal-node {
    fill: #5cb85c;
    stroke: #f7f7f7;
    stroke-width: 1;
  }

  .viz h2 {
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  
  .thead {
    color: gold !important;
    font-weight: bold !important;
  }
  
  .firstc {
    text-align: left;
    font-weight: bold !important;
  }
  
  .negative {
    color: red !important;
  }
  
  .positive {
    color: green !important;
  }
  
  #page h1 { /*Main page heading*/
    text-align: center;
    color:#FE8019;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
  }

  .subheading h3 {
    text-align: center;
    margin-top: 10px;
    font-size:1.6rem !important;
    color:#FE8019;
  }

  .subheading h5 {
    text-align: center;
    margin-top: 10px;
    color:#D65D0E;
  }
  
  .page a { /*For all links on page designed to look like button*/
    text-decoration: none;
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    padding: 15px;
    font-size: 16px;
  }
  
  .page button { /*For all links on page designed to look like button*/
    text-decoration: none;
    background-color: #282828; 
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    padding: 15px;
    font-size: 16px;
  }
  
  #firstupper { /*Position for first upper button*/
    float: left;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 15%;
    margin-right: auto;
    justify-content: space-between;
    text-align: center;
  }
  
  #firstupper a{ /*Make these buttons have sharp edges to resemble a toggle switch */
    border-radius: 0px;
  }
  
  #options { /*Mobile view of category filter*/
    align-items: center;
    position:sticky; /*We don't want it to move with the page in this view*/
    margin-left:auto;
    margin-right:auto;
    width: 200px;
    background: #ccc;
    color: black;
    padding: 15px;
    margin-bottom:60px;
    clear: both;
    z-index: 0;
  }
  
  #graph {
      margin-top: 250px;
      margin-right: 15%;
      text-align: right;
      margin-bottom:60px;
  }
  
  #graph img {
      width:50%;
  }
  
  #submit-button { /*Submit button at bottom of category filter*/
    text-align: center;
  }
  
  #l-products { /*Mobile view for list of products*/
    width: 100%; 
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #products { /*Mobile view for list of products*/
    width: 100%; 
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    padding: 8px;
    font: 12px sans-serif;
    color:#282828;
    background: #EBDBB2;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    visibility: hidden;  /* Start hidden */
    opacity: 0;          /* Start fully transparent */
    transition: opacity 0.5s; /* Smooth transition for the tooltip */
  }
  
  #c-options { /*Mobile view of category filter*/
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    color: white;
    padding: 15px;
    margin-top:10px;
    z-index: 0;
  }
  
  .select-category { /*Category filter*/
    text-align: center;
  }
  
  #c-products { /*Mobile view for list of markets/info*/
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
  }
  
  #search { /*Mobile view of search bar*/
    text-align: center;
    margin-top: 100px;
    margin-bottom:50px;
  }
  
  #cluster { /*Mobile view of search bar*/
    text-align: center;
    margin-bottom:50px;
  }
  
  #lookup {
    width: 400px;
  }
  
  #restupper { /*Mobile view for upper buttons excluding Buying/Selling*/
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  
  .image-desc { /*Remove extra information under product images*/
    display:none;
  }
  
  #selected { /*To show which button is currently 'selected' */
    color: #00A86B;
  }
  
  table, td { /*Table displaying list of items*/
    padding: 20px;
  }

  td a { /*This also uses an <a> hyperlink, but we do not want a border*/
    margin-left:0;
  }
        
  td img { /*Resize table image*/
    max-width:100px;
  }
  
  .content label { /*Positioning and moving textarea label to top of input field */
    text-align:left;
    float: left;
    width:200px;
  }
  
  .image { /*Text accompanying left info column*/ 
    margin-bottom:15px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    display: block;
  }
  
  .image img { /* Image of left info column*/
    max-width: 100%;
    height: auto !important;
    margin-bottom:20px;
  }
  
  .image-count h4 { /*Hide text under image in Details.html in mobile view*/
    display:none;
  }
  
  .info h3 { /*Middle info column 'Asking price'*/
    border: 3px solid #FF7518;
    color:#FF7518;
    text-align:center;
  }
  
  .info p { /* 'Product description' in middle info column*/
    text-align: justify;
    margin-left: 5px;
    margin-right:5px;
  }
  
  .info h4 { /*Margin in mobile view*/
    margin-left:5px;
  }
  
  .create-specs { /*Adjusting font of right-most info column*/
    margin-left:5px;
    margin-bottom:10px;
  }
  
  .specs { /*Adjusting font of right-most info column*/
    margin-left:5px;
    margin-bottom:10px;
  }
  
  .listing-form input { /*Set width of form input in Details.html and CreateListing.html*/
    width: 40%;
  }
  
  fieldset { /*Removes border from input label fields*/
    border:none;
  }
  
  .create-specs h4 { /*Only affects specs h4 text in CreateListing.html*/
    margin-left:27%;
  }
  
  .listing-form { /*Affects margins of create listing form*/
    margin-left:27%;
  }
  
  #buttons {/*Affects buttons at bottom of page*/
    padding: 20px;  
    text-align: center;
  }
  
  .wishlist-edit { /*Hide in mobile view*/
    display:none;
  }
  
  footer { /*Footer*/
    position:fixed;
    clear: left;
    bottom: 0;
    height: 9%;
    width: 100%;
    background-color: #777;
    text-align: center;
    color: white;
    align-items: center;
  }
  
  .footer-left { /*Website logo*/
    font-size: 50px;
    color: white;
    }
  
  .footer-left img { /*Size of website logo*/
  max-width: 100%;
  }
  
  .footer-mid { /*Social media*/
  margin-left: auto;
  margin-right: auto;
  }
  
  .footer-mid img {/*Size of social media logos*/
  max-width: 100%;
  }
  
  .footer-mid-text { /*Hides "Follow us!" text*/
    display:none;
  }

  .landing {
    position: relative;
  }
  
  @media all and (min-width: 850px) {  /*For desktop view*/
  
        ::selection { /*Text selection*/
          color: #000;
          background: #fff;
        } 
        
        /*Decided to use nav instead of header since both are combined*/
        
        nav { /*Navigation menu*/
          background: black;
          margin: auto;
          width: 100%;
          padding: 15px;
          z-index:5;
        }
              
        .here { /*Indicate current page*/
          color:#00A86B !important;
        }
  
        .marginals { /*Header*/
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 20px;
          z-index: 10;
        }
  
        .VTEE {/*Logo text*/
          font-size: x-large;
          text-align:left;
          margin-top: 0px; 
          margin-bottom: 0px;  
          }
        
        .marginals a, .marginals button {/*Affects all links in header*/
          border-style: hidden;
          text-decoration: none;
          color: #fff;
          font-size: large;
          font-weight: 500;
          padding: 15px;
          border-radius: 10px;
          background-color: black;
        }
        
        .marginals button:hover, .marginals a:hover {/*Hover indication for aesthetic purposes*/
          background: #8dda24;
          color: black;
        }
        
        .marginals ul {/*Keeping list elements side by side*/
          display: inline-flex;
        }
        
        .marginals ul li {/*Removing bullet points and keeping list at center of header */
          list-style: none;
          margin-left: auto;
          background-color: transparent;
          margin-right: auto;
          border:none;
        }
  
        .login { /*Remove border and background color for desktop user login section*/
          background-color: transparent;
          border: none;
          margin-bottom: 0px;
        }
              
        main {/*Main content should cover entire page width*/
          padding: 20px;
          width: 100%;  
        }
        
        #page-formatting { /*Affects all body content*/
          height:100%;
          background-color: #282828;
        }
        
        .page { /*Affects all content between header and footer*/
          padding-top: 4.5rem; /*Ensuring header and footer do not overlap with body text*/
        }
  
        table, td { /*Table displaying list of items*/
          padding: 20px;
        }
    
        td a { /*This also uses an <a> hyperlink, but we do not want a border*/
          margin-left:0;
        }
              
        td img { /*Resize table image*/
          max-width:100px;
        }
        
        #firstupper {
          text-align: left;
        }
  
        #firstupper a { /*Make these buttons have sharp edges to resemble a toggle switch */
          border-radius: 0px;
        }
  
        #options { /*Allow user to filter by category*/
          float: left;
          margin-top: 150px;
          margin-left: 15%;
          width: 250px;
          border: 1px solid #FF7518;
        }
  
        #restupper { /*Upper buttons excluding Buying/Selling*/
          margin-top: 40px;
          margin-bottom: 50px;
          text-align: right;
          margin-right: 20%;
          float: right;
        }
  
        #restupper a:hover { /*Hover indication for aesthetic purposes*/
          border-color: #FF7518;
          color: #FF7518;
        }
  
        #c-options { /*Allow user to filter by category*/
          align-items: right; 
          float: right;
          margin-right: 15%;
          margin-bottom:50px;
          width: 250px;
      }
  
      .select-category { /*Category filter*/
      text-align: left;
      } 
  
        #search { /*Desktop view of search bar*/
          margin-top: 50px;
          text-align: left;
          margin-left: 15%;
        }
  
        #cluster { /*Desktop view of cluster*/
          margin-top: 100px;
          text-align: left;
          margin-left: 35%;
        }
  
        #c-products { /*List of products*/
          clear:both;
          background-color: #282828; 
        }
  
        #products { /*List of products*/
          clear:both;
          background-color: #282828; 
        }
  
        #l-products { /*List of products*/
          clear:both;
          background-color: #282828; 
        }
  
        .image-desc { /*For this view, we should include the additional information under each image*/
          display:block;
        }
        
        section::after { /*Clear after*/
          content: "";
          display: table;
          clear: both;
        }
        
        #selected { /*To show which button is currently 'selected' */
          color: #00A86B;
        }
        
        .content { /*For viewing or adding product information*/
          display:flex;
          padding: 0 75px;
        }
        
        .content label { /*Positioning and moving textarea label to top of input field */
          font-family:"Helvetica", sans-serif;
        }
        
        .image { /*Text accompanying left info column*/
          font-family:"Helvetica", sans-serif;
          text-align: center;
          display:block;
          width:auto;
          margin-bottom:0px;
        }
              
        .image img { /* Image of left info column*/
          margin-left:0px;
        }
  
        .image-count h4 { /*Display text under image in Details.html for desktop view */
          display:block;
        }
        
        .create-info { /*Middle info column text*/
          margin-left: auto;
          margin-right: auto;
          width: 40%;  
          padding: 0 30px;
          font-family:"Helvetica", sans-serif;
        }
        
        .info { /*Middle info column text*/
          margin-left: auto;
          margin-right: auto; 
          padding: 0 30px;
          font-family:"Helvetica", sans-serif;
        }
        
        .info p { /* 'Product description' in middle info column*/
          font-family:"Helvetica", sans-serif;
          text-align: left;
          max-width: 1000px;
          min-width: 100px;
        }
  
        .info h4 { /*Fix margins in desktop view*/
          margin-left:0px;
        }
        
        .create-specs { /*Adjusting font of right-most info column*/
          font-family:"Helvetica", sans-serif;
          width:40%;
        }
        
        .specs { /*Adjusting font of right-most info column*/
          font-family:"Helvetica", sans-serif;
        }
         
        fieldset { /*Removes border from input label fields*/
          /* width:100%; */
          margin:auto;
        }
        
        #buttons {/*Affects buttons at bottom of page*/
          padding: 20px;
          display: block;  
          text-align: center;
        }
        
        #buttons a:hover{/*Hover indication for aesthetic purposes*/
          border-color: #FF7518;
          color: #FF7518;
        }
  
        #buttons button:hover{/*Hover indication for aesthetic purposes*/
          border-color: #FF7518;
          color: #FF7518;
        }
  
        .wishlist-edit{ /*Display only on PC version*/
          display:block;
          margin-top:25px;
        }
        
        .footer-mid-text { /*Adds "Follow us!" text back */
          display:inline;
        }
  }

  svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
  }