* { /*General Styles*/
  margin: 0;
  padding: 0;
  font-family: "Verdana", sans-serif;
  box-sizing: border-box;
}

html,body { 
  height:110%; /*Accomodates footer*/
  background-color: #282828; 
} /*Done to ensure background color covers entire page*/

.VTEE {/*Logo text*/
  font-size: xx-large;
  text-align:center;
  font-weight: 900;  
  color: #8dda24;
  margin-top:10px;
  margin-bottom: 10px;
  }

.marginals a {/*Affects all links in header*/
  border-style: hidden;
  text-decoration: none;
  color: #fff;
  font-size: large;
  font-weight: 500;
  padding-left: 15px;
}

.marginals ul li {/*Removing bullet points and keeping list at center of header */
  list-style: none;
  background-color: #000;
  border: 1px solid;
  border-color: #fff;
}

.here { /*Indicate current page*/
  color:#8dda24!important;
}

.login { /*Logged in user*/
  background-color: #000;
  border: 1px solid;
  border-color: #fff;
  margin-bottom: 25px;
}

.login img { /*Login icon*/
  max-width: 100%;
}

.marginals-foot { /*Header and Footer*/
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.page { /*Affects all content between header and footer*/
  width: 100%; 
  padding-bottom: 4.5rem; /*Ensuring footer does not overlap with body text*/
  color: white;
}

.thead {
  color: gold !important;
  font-weight: bold !important;
}

.firstc {
  text-align: left;
  font-weight: bold !important;
}

.negative {
  color: red !important;
}

.positive {
  color: green !important;
}

.page h1 { /*Main page heading*/
  text-align: center;
  color:#8dda24;
  margin-left: auto;
  margin-right: auto;
}

.page a { /*For all links on page designed to look like button*/
  text-decoration: none;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
}

.page button { /*For all links on page designed to look like button*/
  text-decoration: none;
  background-color: #282828; 
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
}

#firstupper { /*Position for first upper button*/
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  text-align: center;
}

#firstupper a{ /*Make these buttons have sharp edges to resemble a toggle switch */
  border-radius: 0px;
}

#selected { /*To show which button is currently 'selected' */
  color: #00A86B;
}

main table { /*Align table to center of page*/
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
}

table, td { /*Table displaying list of items*/
  border-collapse:collapse;
  padding-bottom:10px;
  text-align: center;
}

td { /*Adjust width for mobile view*/
  max-width:105px;
}

td a { /*This also uses an <a> hyperlink, but we do not want a border*/
  border: none !important;
  margin-left:-12.5px;
}

.content label { /*Positioning and moving textarea label to top of input field */
  text-align:left;
  float: left;
  width:200px;
}

.image { /*Text accompanying left info column*/ 
  margin-bottom:15px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  display: block;
}

.image img { /* Image of left info column*/
  max-width: 100%;
  height: auto !important;
  margin-bottom:20px;
}

.image-count h4 { /*Hide text under image in Details.html in mobile view*/
  display:none;
}

.info h3 { /*Middle info column 'Asking price'*/
  border: 3px solid #8dda24;
  color:#8dda24;
  text-align:center;
}

.info p { /* 'Product description' in middle info column*/
  text-align: justify;
  margin-left: 5px;
  margin-right:5px;
}

.info h4 { /*Margin in mobile view*/
  margin-left:5px;
}

.create-specs { /*Adjusting font of right-most info column*/
  margin-left:5px;
  margin-bottom:10px;
}

.specs { /*Adjusting font of right-most info column*/
  margin-left:5px;
  margin-bottom:10px;
}

.listing-form input { /*Set width of form input in Details.html and CreateListing.html*/
  width: 40%;
}

fieldset { /*Removes border from input label fields*/
  border:none;
}

.create-specs h4 { /*Only affects specs h4 text in CreateListing.html*/
  margin-left:27%;
}

.listing-form { /*Affects margins of create listing form*/
  margin-left:27%;
}

#buttons {/*Affects buttons at bottom of page*/
  padding: 20px;  
  text-align: center;
}

.wishlist-edit { /*Hide in mobile view*/
  display:none;
}

footer { /*Footer*/
  position:fixed;
  clear: left;
  bottom: 0;
  height: 9%;
  width: 100%;
  background-color: #777;
  text-align: center;
  color: white;
  align-items: center;
}

.footer-left { /*Website logo*/
  font-size: 50px;
  color: white;
  }

.footer-left img { /*Size of website logo*/
max-width: 100%;
}

.footer-mid { /*Social media*/
margin-left: auto;
margin-right: auto;
}

.footer-mid img {/*Size of social media logos*/
max-width: 100%;
}

.footer-mid-text { /*Hides "Follow us!" text*/
  display:none;
}

@media all and (min-width: 850px) {  /*For desktop view*/

      ::selection { /*Text selection*/
        color: #000;
        background: #fff;
      } 
      
      /*Decided to use nav instead of header since both are combined*/
      
      nav { /*Navigation menu*/
        background: black;
        position: fixed;
        margin: auto;
        width: 100%;
        padding: 15px;
      }
            
      .here { /*Indicate current page*/
        color:#00A86B !important;
      }

      .marginals { /*Header*/
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
      }

      .VTEE {/*Logo text*/
        font-size: x-large;
        text-align:left;
        margin-top: 0px; 
        margin-bottom: 0px;  
        }
      
      .marginals a {/*Affects all links in header*/
        border-style: hidden;
        text-decoration: none;
        color: #fff;
        font-size: large;
        font-weight: 500;
        padding: 15px;
        border-radius: 10px;
      }
      
      .marginals a:hover {/*Hover indication for aesthetic purposes*/
        background: #8dda24;
        color: black;
      }
      
      .marginals ul {/*Keeping list elements side by side*/
        display: inline-flex;
      }
      
      .marginals ul li {/*Removing bullet points and keeping list at center of header */
        list-style: none;
        margin-left: auto;
        background-color: transparent;
        margin-right: auto;
        border:none;
      }

      .login { /*Remove border and background color for desktop user login section*/
        background-color: transparent;
        border: none;
        margin-bottom: 0px;
      }
            
      main {/*Main content should cover entire page width*/
        padding: 20px;
        width: 100%;  
      }
      
      #page-formatting { /*Affects all body content*/
        position:relative;
        height:100%;
      }
      
      .page { /*Affects all content between header and footer*/
        padding-top: 4.5rem; /*Ensuring header and footer do not overlap with body text*/
      }

      table, td { /*Table displaying list of items*/
        padding: 30px;
      }

      td { /*Fix width in desktop view*/
        max-width:100%;
      }

      td a { /*This also uses an <a> hyperlink, but we do not want a border*/
        margin-left:0;
      }
            
      td img { /*Resize table image*/
        max-width:100px;
      }
      
      #firstupper a { /*Make these buttons have sharp edges to resemble a toggle switch */
        border-radius: 0px;
      }
      
      #selected { /*To show which button is currently 'selected' */
        color: #00A86B;
      }
      
      .content { /*For viewing or adding product information*/
        display:flex;
        padding: 0 75px;
      }
      
      .content label { /*Positioning and moving textarea label to top of input field */
        font-family:"Helvetica", sans-serif;
      }
      
      .image { /*Text accompanying left info column*/
        font-family:"Helvetica", sans-serif;
        text-align: center;
        display:block;
        width:auto;
        margin-bottom:0px;
      }
            
      .image img { /* Image of left info column*/
        margin-left:0px;
      }

      .image-count h4 { /*Display text under image in Details.html for desktop view */
        display:block;
      }
      
      .create-info { /*Middle info column text*/
        margin-left: auto;
        margin-right: auto;
        width: 40%;  
        padding: 0 30px;
        font-family:"Helvetica", sans-serif;
      }
      
      .info { /*Middle info column text*/
        margin-left: auto;
        margin-right: auto; 
        padding: 0 30px;
        font-family:"Helvetica", sans-serif;
      }
      
      .info p { /* 'Product description' in middle info column*/
        font-family:"Helvetica", sans-serif;
        text-align: left;
        max-width: 1000px;
        min-width: 100px;
      }

      .info h4 { /*Fix margins in desktop view*/
        margin-left:0px;
      }
      
      .create-specs { /*Adjusting font of right-most info column*/
        font-family:"Helvetica", sans-serif;
        width:40%;
      }
      
      .specs { /*Adjusting font of right-most info column*/
        font-family:"Helvetica", sans-serif;
      }
       
      fieldset { /*Removes border from input label fields*/
        /* width:100%; */
        margin:auto;
      }
      
      #buttons {/*Affects buttons at bottom of page*/
        padding: 20px;
        display: block;  
        text-align: center;
      }
      
      #buttons a:hover{/*Hover indication for aesthetic purposes*/
        border-color: #8dda24;
        color: #8dda24;
      }

      #buttons button:hover{/*Hover indication for aesthetic purposes*/
        border-color: #8dda24;
        color: #8dda24;
      }

      .wishlist-edit{ /*Display only on PC version*/
        display:block;
        margin-top:25px;
      }
      
      .footer-mid-text { /*Adds "Follow us!" text back */
        display:inline;
      }
}